/*
 * Arc specific styling
 */

@define-color sidebar_bg rgba(53, 57, 69, 0.95);
@define-color sidebar_fg #BAC3CF;

.solus-sc.background {
    background-color: transparent;
}

.solus-sc .main-view {
    background-color: @theme_bg_color;
}

.solus-sc .sidebar-separator {
    color: shade(@sidebar_bg, 0.7);
}

.solus-sc .main-sidebar {
    background-color: @sidebar_bg;
}

.solus-sc .main-sidebar .list-row:not(:selected) {
    color: @sidebar_fg;
}

.solus-sc .main-sidebar .list-row:not(:selected) GtkImage {
    color: alpha(@sidebar_fg, 0.7);
}

.solus-sc .main-sidebar .list-row:hover:not(:selected) {
    background-color: alpha(@sidebar_fg, 0.15);
}

.sc-changelog .list-row {
    background-color: @theme_base_color;
    border-radius: 2px;
}

.solus-sc .view.content {
    background-color: @theme_bg_color;
}
