[Desktop Entry]
Name=Software Center
GenericName=Software Center
Comment=Install, Remove and Update System Software
Exec=/usr/bin/solus-sc
Terminal=false
Type=Application
StartupNotify=false
Icon=system-software-install
Categories=X-GNOME-Settings-Panel;PackageManager;System;Settings
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
