[Desktop Entry]
Name=Software Center
Name[en_GB]=Software Center
GenericName=Software Center
GenericName[en_GB]=Software Center
Comment=Install, Remove and Update System Applications
Comment[en_GB]=Install, Remove and Update System Applications
Exec=/usr/bin/evolve-sc
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;
Icon=system-software-install
Categories=GNOME;GTK;System;PackageManager;
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
