[Desktop Entry]
Type=Application
Name=Solus Update Service
Comment=Background service for update checking
Icon=software-update-available
Exec=solus-update-checker
TryExec=solus-update-checker
NoDisplay=true
OnlyShowIn=Budgie;GNOME;KDE;MATE;XFCE
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
AutostartCondition=GSettings com.solus-project.software-center check-updates
