.solus-sc .group-button .title {
    font-size: 110%;
    padding: 4px;
}

.solus-sc .group-button .info-label {
    padding: 4px;
}

.solus-sc .main-sidebar {
    border: none;
}

.solus-sc list.main-sidebar row {
    padding: 8px 0;
}

.huge-label {
    font-size: 24pt;
}

/*
.featured-box {
    background-color: @theme_base_color;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid @borders;
}*/

.featured-box, .details-header {
    background-color: alpha(@link_color, 0.12);
    border-bottom: 1px solid alpha(@link_color, 0.22);
    padding: 5px;
}

.sc-big {
    font-size: 110%;
}

.sc-bold {
    font-weight: bold;
}

.featured-box .big-thumb {
    font-size: 180%;
    padding: 4px;
}

.featured-box .big-thumb.dim {
    color: alpha(@theme_fg_color, 0.2);
}

.sc-changelog {
    background: none;
}

list.sc-changelog .changelog-entry {
    padding: 5px;
    border: 1px solid @borders;
}

list.sc-changelog .changelog-header {
    border-bottom: 1px solid alpha(@selected_bg_color, 0.7);
}

.solus-sc scrolledwindow {
    border: none;
}

.sc-image-widget.image-thumbnail {
    background-color: @theme_base_color;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid @borders;
}

.updates-view.frame,
.search-results.frame {
    border-top: 1px solid @borders;
}

.third-party-view.frame {
    border-bottom: 1px solid @borders;
}

.group-button:hover {
    -gtk-icon-effect: none;
}

.solus-sc .category-item-row,
.solus-sc .category-item-row:active {
    border: 1px solid @borders;
    background-color: lighter(@theme_bg_color);
    color: @theme_fg_color;
    padding: 5px;
    border-radius: 2px;
}

.solus-sc .search-item-row,
.solus-sc .search-item-row:active {
    border: 1px solid @borders;
    background-color: lighter(@theme_bg_color);
    color: @theme_fg_color;
    padding: 5px;
    border-radius: 2px;
}

.solus-sc .drawer-background {
    background-color: alpha(black, 0.75);
}
